@use '../../style/variable';

img.wkit-workspace-profile-img {
    object-fit: cover;
    max-width: 75px;
    width: 75px;
    height: 75px;
    border-radius: 6px;
}

.wkit-ws-card-menu {
    &:hover {
        background-color: #03048308 !important;
    }
}

.wkit-add-new-workspace-wrapperd {
    min-height: 182px;
}

.wkit-profile-back {
    object-fit: cover;
    width: 80px !important;
    height: 80px;
    background: #DADAF0;
    border-radius: 10px;
}

.wkit-profile-back.wkit-profile-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-weight: 500;
    color: variable.$Wdkit_blue_normal;
    line-height: 1;
}

.wkit-workspace-edit-icon {
    border: 0.5px solid #8991A4;
    border-radius: 6px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.wkit-popup-content-title {
    color: #19191B;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}

.wkit-manage-main {

    .wkit-add-workspace-btn {
        padding: 13px 30px;
        min-width: 88px;
    }

    .wkit-mydownload-heading {
        padding: 20px;
        display: flex;
        background: #ffffff;
        border-radius: 10px;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 30px;

        svg {
            width: 20px;
            height: 20px;
        }

        .wkit-manage-workspace-heading {
            color: variable.$Wdkit_blue_normal;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
        }
    }

    .wkit-workspace-wrapper {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        flex-direction: row;
    }

    .wkit-workspace-wrapper-content {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .wkit-workspace-box {
        background-color: #ffffff;
        border-radius: 10px;
        position: relative;
        border: 1px solid #f1f1f4;
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);

        .wkit-workspace-card-container {
            padding: 20px;

            .wkit-wp-card-link {
                display: block;
                width: max-content;
            }

        }
    }

    .wkit-workspace-mixed {
        display: flex;
        justify-content: space-between;
    }

    .wkit-live-user {
        background: #FEEEE9;
        padding: 5px 10px;
        border-radius: 6px;
        color: #F35421;
        display: inline-flex;
        column-gap: 5px;
        align-items: center;

        img {
            width: 13px;
            height: 13px;
        }

        span {
            color: #F35421;

        }

    }

    .wkit-workspace-detail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .wkit-workspace-detail:hover .wkit-workspace-tool-tip {
        display: flex;
        color: #fff;
    }

    .wkit-workspace-tool-tip {
        display: none;
        background-color: #19191B;
        color: white;
        position: absolute;
        bottom: 32px;
        padding: 4px 8px;
        border-radius: 6px;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        &::before {
            content: "";
            background-color: #19191B;
            transform: rotate(45deg);
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 8px;
            height: 8px;
            position: absolute;
            bottom: -3px;
        }
    }

    .wkit-top-user {
        display: flex;
        height: fit-content;
        column-gap: 10px;
    }

    .wkit-user-name {
        font-size: 17px;
        color: variable.$Wdkit_blue_normal;
        font-weight: 500;
        padding-top: 10px;
        text-transform: capitalize;
    }

    .wkit-avatar-name {
        color: #19191b66;
        font-size: 12px;
        font-weight: 400;
        display: flex;
        align-items: center;
        column-gap: 5px;

        .wkit-avatar-main-name {
            text-transform: capitalize;
        }

        img {
            width: 25px !important;
            height: 25px;
        }
    }

    .wkit-workspace-edit-temp {
        background: #EDF0FF;
        padding: 5px 10px;
        color: #4D69FA;
        display: flex;
        column-gap: 5px;
        border-radius: 6px;
        align-items: center;

        img {
            width: 13px;
            height: 13px;
        }

        span {
            color: #4D69FA;
        }
    }

    .wkit-workspace-edit-widget {
        background: #F9E9F1;
        padding: 5px 10px;
        color: variable.$Wdkit_pink_normal;
        display: flex;
        column-gap: 5px;
        border-radius: 6px;
        align-items: center;

        img {
            width: 13px;
            height: 13px;
        }

        span {
            color: variable.$Wdkit_pink_normal;
        }
    }

    .wkit-author-select-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 6px;
    }


    .wkit-add-new-workspace {
        display: flex;
        background-color: #fff;
        height: 100%;
        padding: 20px;
        gap: 15px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #f1f1f4;
        border-radius: 10px;
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);

        .wkit-add-new-content {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            button {
                color: white;
                padding: 10px;
                font-weight: 500;
                font-size: 14px;
                width: fit-content;
                white-space: nowrap;
            }

            .wkit-btn-buy-now {
                padding: 10px 15px;
                color: white;
                font-weight: 500;
                font-size: 14px;
                white-space: nowrap;
                width: max-content;
            }
        }

        .wkit-add-new-text {
            display: flex;
            flex-direction: column;
            gap: 10px;


            .wkit-add-new-Title {
                font-style: normal;
                font-size: 16px;
                font-weight: 500;
            }

            .wkit-add-new-desc {
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                color: #19191b80;
            }

        }

        .wkit-add-new-workspace-img {
            img {
                width: 135px;
                height: auto;
            }
        }

    }
}

// single page workspace
.wkit-workspace-sigle-page {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .wkit-widgetlist-grid-content {

        //loader 
        .wb-download-loader {
            background: #fff;
            opacity: 1;
            justify-content: center;
            align-items: center;

            .wb-download-loader-circle {
                border: 3px solid #f3f3f3;
                border-radius: 50%;
                border-top: 3px solid #393b3e;
                width: 18px;
                height: 18px;
                -webkit-animation: spin 1s linear infinite;
                animation: spin 1s linear infinite;
            }
        }
    }

}

.wkit-kit-box-wrapper {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #f1f1f4;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
}

.wkit-work-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.wkit-manage-member {
    padding: 8px 15px;
    border: 1px solid #B1B1D9;
    border-radius: variable.$radius_small;
    transition: variable.$transition;
    height: 36px;

    &:hover {
        border: 1px solid variable.$Wdkit_blue_normal;
    }

    span {
        width: 180px;
        font-size: 14px;
        font-weight: 400;
        color: #2A2A96;
    }
}

//popup select dropdown
.wkit-popup-openbtn {
    background-color: white;
    color: variable.$Wdkit_blue_normal;
    padding: 13px 20px;
    font-size: 13px;
    border: none;
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
    border: 1px solid #F5F5FF;
    border-radius: 10px;
}

.wkit-popup-select-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 95px;
    top: 45px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    border-radius: 10px;

    .wkit-popup-select-item {
        color: black;
        padding: 12px 16px;
        display: block;
        text-align: center;
        font-size: 13px;
        border-radius: 10px;

        &:hover {
            background-color: variable.$Wdkit_blue_normal;
            color: #fff;
            transition: 0.3s linear;

        }
    }
}

.wkit-work-left-column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    align-items: flex-start;

}

.wkit-img-name-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.wkit-ws-name-edit {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.wkit-workspace-title {
    display: flex;
    width: max-content;
    align-items: center;
    column-gap: 5px;

    .wkit-workspace-edit-icon {
        transition: variable.$transition;
        display: none;
    }

    &:hover .wkit-workspace-edit-icon {
        transition: variable.$transition;
        display: flex;
    }

    span {
        font-size: 20px;
        color: #2A2A96;
        font-weight: 500;
        text-transform: capitalize;
    }
}

.wkit-kit-box-wrapper .wkit-workspace-title img {
    width: auto;
}

.wkit-btn {
    background: #ffffff;
    border-radius: 2px;
    padding: 7px 10px;
    display: flex;
    column-gap: 5px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    border: 1px solid #edf0ff;
    align-items: center;
    width: 170px;
    justify-content: space-between;

    svg {
        width: 15px;
        height: 15px;
    }
}

.wkit-check-wrapper {
    font-size: 12px;
    color: variable.$Wdkit_blue_normal;
}

.wkit-check {
    font-size: 12px;
    color: variable.$Wdkit_blue_normal;
}

.wkit-check:checked {
    background-color: variable.$Wdkit_blue_normal;
    color: #fff;
}


input[type=checkbox].wkit-check:checked:before {
    content: url('../../../assets/images/svg/Group.svg') !important;
    background-position: top;
    background-size: cover;
}

.wkit-kit-box-wrapper .img-group {
    img {
        border-radius: 50px;
        width: 45px !important;
        height: 45px;
        object-fit: cover;
    }
}

.wkit-roundimg {
    display: inline-block;
    transition: 0.3s linear;
    border: 2px solid #fff;

    &:not(:last-child) {
        margin-right: -15px;
    }

    &:hover {
        transition: all 0.25s ease 0s;
        transform: translateY(-4px) scale(1.07);
    }
}

.workspace_btn {
    padding: 10px 20px;
    background: #FFFFFF;
    color: variable.$Wdkit_blue_normal;
    font-size: 12px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    border-radius: 10px;

    &:hover {
        transition: 0.3s linear;
        background-color: variable.$Wdkit_blue_normal;
        color: #fff;

        .wkit-svg-hover {
            fill: #fff;
        }
    }
}


.wkit-work-right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 10px;
    width: 100%;

    .wkit-svg-hover {
        fill: variable.$Wdkit_blue_normal;
        width: 20px;
    }

    .img-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        height: 75px;
    }
}

.wkit-more-user-proflie {
    padding: 12px 12px 12px 10px;
    border-radius: 50%;
    background-color: variable.$Wdkit_blue_normal;
    color: white;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    width: 46px;
    height: 46px;
}

.wtitle {
    font-size: 14px;
    color: #2A2A96;
}

.profile-wrapper {
    display: flex;
    align-items: center;
    column-gap: 14px;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}

.wkit-action {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;

    &:hover {
        .wkit-popup-select-content {
            display: block;
            transition: 0.3s linear;
        }
    }
}

.wkit-profile {
    display: flex;
    align-items: center;
    column-gap: 10px;

    .email-title {
        font-size: 13px;
        font-weight: 400;
        color: #19191B;
    }

}

.wkit-delete-boxed {
    background: #F7D7D3;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.wkit-member-popup {
    background: #F8F8FF;
    padding: 15px;
    display: flex;
    position: relative;
    border-radius: 10px;
    flex-direction: column;
    row-gap: 15px;

    .wkit-img {
        border-radius: 50px;
        width: auto;
    }
}

.wkit-group {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.wkit-close {
    position: absolute;
    top: 0px;
    right: 0px;
    transition: all 200ms;
    font-size: 30px;
    color: #313131;
    cursor: pointer;
}

.wkit-action select {
    padding: 10px 30px;
    color: variable.$Wdkit_blue_normal;
    border-radius: 10px;
    border: none;
    height: auto;
}

.wkit-save-btn {
    padding: 12px 30px;
    background: variable.$Wdkit_pink_normal;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    width: fit-content;
}

.wkit-label {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

input.wkit-search {
    background: #F8F8FF;
    width: 61%;
    border: 1px solid #CFCFEA;
    border-radius: 10px;
    font-size: 12px;
    color: #CFCFEA;
    font-weight: 300;
    padding: 10px 15px;

    &:focus {
        color: variable.$Wdkit_blue_normal;
    }
}

input.wkit-search-share {
    background: #F8F8FF;
    width: 100%;
    border: 1px solid #CFCFEA;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    font-size: 12px;
    padding: 10px 15px;
    border-radius: variable.$radius_small;
}


input.wkit-search-share::placeholder {
    color: #ACAEAE;
}

.wkit-textarea {
    padding: 10px 30px 50px 10px;
    border-radius: 10px;
    border: 1px solid #CFCFEA;
    font-size: 13px;

    &:focus-visible {
        outline: 0;
        color: variable.$Wdkit_blue_normal;
    }
}

.wkit-title-update-btn {
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: variable.$Wdkit_blue_normal;
    transition: 0.3s linear;
    border: none;
    outline: 0;
    padding: 0px 15px;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background: variable.$Wdkit_blue_hover;
    }
}

//single workspace
.wkit-text-field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;

    input {
        width: 100%;
        margin-right: 5px;
        min-height: 32px;
    }
}

.wkit-tooltip-dropdown-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.wkit-single-workspace-filter {
    width: 180px !important;
    font-size: 14px !important;
    font-weight: 400 !important;

    &.wkit-custom-dropDown {
        .wkit-custom-dropDown-header {
            width: 100%;
            padding: 8px;
            height: unset;

            span {
                text-transform: capitalize;
            }

            .wdkit-single-workspace-dropdown {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
        }

        .wkit-custom-dropDown-content .wkit-drop-down-outer {
            height: 100%;
        }
    }
}

.wkit-tooltip-dropdown {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wkit-kit-box-wrapper .wkit-tooltip-dropdown img {
    width: auto;
}

.wkit-tooltip {
    background-color: #fff;
    padding: 5px 5px;
    display: none;
    color: #000;
    margin-top: 35px;
    position: absolute;
    box-shadow: 0px 40px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    border: 1px solid #EDF0FF;
    width: 100%;
    z-index: 1;
}

.wkit-tooltip-dropdown:hover .wkit-tooltip {
    display: block;
}

.wkit-tooltip-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .wkit-tooltip-item {
        display: flex;
        align-items: center;
        column-gap: 5px;
        color: #000;
        font-size: 14px;
        font-weight: 300;
        padding: 5px;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
            background: #edf0ff;
        }

        img {
            width: 20px;
        }
    }
}

//popup menu

.wkit-model-transp,
.wkit-author-transp {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 199;
    overflow: hidden;
}

.wdesignkit-model-content {
    border-radius: 6px;
    width: 100%;
    position: relative;

    .wkit-AddWp-popup-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

.wkit-dropdown {
    position: relative;

    &:hover {
        .wkit-popup-content-second {
            display: block;
        }

    }

}

.wkit-popup-transp-second {
    width: 100%;
    height: 100%;
}

.wkit-popup-content-second {
    display: block;
    width: 100%;
    margin-top: 12px;
}

.wkit-hide {
    display: none !important;
}

@media(max-width:1420px) {

    .wkit-work-left-column {
        .wkit-text-field {
            width: 80%;
        }
    }

    .wkit-manage-main .wkit-workspace-wrapper-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:1024px) {
    .wkit-work-left-column {
        .wkit-text-field {
            width: 100%;
        }
    }
}

@media(max-width:768px) {
    .wkit-manage-main .wkit-workspace-wrapper-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .wkit-manage-main .wkit-add-new-workspace .wkit-add-new-text .wkit-add-new-Title {
        font-size: 15px;
    }

    input.wkit-search {
        width: 100%;
    }

    .profile-wrapper {
        row-gap: 10px;
    }

    .wkit-kit-box-wrapper {
        padding: 30px;
    }
}

@media(max-width:576px) {
    .wkit-manage-main .wkit-workspace-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .wkit-work-space {
        padding: 20px;
    }

    .popup-body.wkit-AddWp-popup-body {
        padding: 10px;
    }

    .wkit-kit-box-wrapper {
        padding: 0px;
    }

    .wkit-workspace-profile-img {
        width: 35px;
    }

    .wkit-work-right-column .img-group {
        height: unset;
    }

    .wkit-manage-main .wkit-add-new-workspace .wkit-add-new-content .wkit-btn-buy-now {
        padding: 10px 10px;
        font-size: 12px;
    }

    .wkit-manage-main .wkit-add-new-workspace .wkit-add-new-workspace-img img {
        width: 120px;
    }

    .img-group {
        img {
            width: 35px;
            height: 35px;
        }
    }

    .wkit-work-space {
        flex-direction: column;
        row-gap: 30px;
    }

    .wkit-work-space {
        align-items: unset;
    }

    .wkit-work-left-column {
        width: 100%;
    }
}

// copy and move popup
.wkit-ws-popup-outerDiv {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    z-index: 999;
}

.wkit-ws-popup {
    width: 35%;
    position: fixed;
    top: 70px;
    left: 35%;
    height: max-content;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    z-index: 999;
}

.wkit-popup-show {
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 999;
}

.wkit-widget-options-outer {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1;
}

@media(max-width: 782px) {
    .wkit-ws-popup {
        width: 50%;
        height: auto;
        left: 28%;
    }
}

@media(max-width: 576px) {
    .wkit-ws-popup {
        width: 80%;
        height: auto;
        left: 11%;
    }
}